parameters:
    level: 10
    paths:
        - src
        - tests
    excludePaths:
        - vendor/*
        - tests/**/fixtures/*
        - tests/**/expected/*

includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
